:root {
    --link-color: #3f73ed;
}

@media (prefers-color-scheme: dark) {
    :root {}
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div,
body {
    transition: background 350ms, background-color 350ms;
}

p,
span,
label,
strong,
em,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text);
    transition: background 350ms, color 350ms;
}

body {
    background-color: var(--color-background);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 48px 12px;
}

ul {
    list-style-position: inside;
}

p {
    /* Fix for descenders being slightly cut off */
    padding-bottom: 1px;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}