:root {
    --link-color: #3f73ed;
}

@media (prefers-color-scheme: dark) {
    :root {}
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background .3s, background-color .3s, color .3s;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 48px 12px;
}

ul {
    list-style-position: inside;
}

p {
    /* Fix for descenders being slightly cut off */
    padding-bottom: 1px;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}