.textInput {
    border-radius: 0;
    border: 1px solid black;
    padding: 4px;
    max-width: 200px;
}

.textInput:focus {
    outline: none;
    border: 1px solid black;
}

.formSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formSection>* {
    margin-bottom: 4px;
}

.button {
    padding: 4px;
    color: white;
    border: 1px solid black;
    transition: all .1s;
}

.buttonSuccess {
    background-color: #4d88f9;
}

.buttonDestroy {
    background-color: #FF4447;
}

.button:active {
    opacity: .9;
}

.button:disabled {
    background-color: gray;
}

.button:disabled:active {
    opacity: 1;
}

.subtitle {
    font-size: 10px;
    font-style: italic;
}

.error {
    background-color: #FF4447;
    color: white;
    padding: 4px;
    border: 1px solid black;
    margin: 8px 0;
    display: inline-block;
    font-size: 12px;
}

.error>* {
    margin: 0;
}