.textInput {
    border-radius: 0;
    border: 1px solid black;
    padding: 4px;
    max-width: 200px;
}

.textInput:focus {
    outline: none;
    border: 1px solid black;
}

.formSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formSection>* {
    margin-bottom: 4px;
}

.button {
    padding: 4px;
    color: white;
    border: 1px solid black;
    transition: all .1s;
}

.button:enabled {
    cursor: pointer;
}

.buttonSuccess {
    background-color: #4d88f9;
}

.buttonDestroy {
    background-color: #FF4447;
}

.button:active {
    opacity: .9;
}

.button:disabled {
    background-color: gray;
}

.button:disabled:active {
    opacity: 1;
}

.subtitle {
    font-size: 10px;
    font-style: italic;
}

.error {
    background: repeating-linear-gradient(45deg, #DB3143, #DB3143 2px, #FF4447 2px, #FF4447 4px);
    color: white;
    padding: 4px;
    border: 1px solid black;
    display: inline-block;
    font-size: 12px;
}

.error>* {
    margin: 0;
}

.fileInput::file-selector-button {
    padding: 4px;
    color: white;
    background-color: #4D88F9;
    border: 1px solid black;
    transition: all .1s;
    cursor: pointer;
    content: 'Select a file';
    border-radius: 0;
}

.fileInput.fileInput::file-selector-button:active {
    opacity: .9;
}