.textInput {
    border-radius: 0;
    border: 1px solid black;
    padding: 4px;
    max-width: 200px;
}

.textInput:focus {
    outline: none;
    border: 1px solid black;
}

.formSection {
    display: flex;
    flex-direction: column;
}

.formSection>* {
    margin-bottom: 4px;
}