@keyframes loading_box {
    0% {
        background: #000;
    }

    25% {
        background: #000;
    }

    25.25% {
        background: #fff;
    }

    100% {
        background: #fff;
    }
}

.loading_box div {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 6.66666666%;
    left: 6.66666666%;
    background: var(--color-tileBorder);
    animation: loading_box 1s linear infinite;
    /* animation-delay: 0.25s; */
}

.loading_box div:nth-child(2) {
    top: 6.66666666%;
    left: 53.3333333%;
    background: #fff;
    animation-delay: 0.25s;
}

.loading_box div:nth-child(3) {
    top: 53.3333333%;
    left: 6.66666666%;
    background: #fff;
    animation-delay: 0.75s;
}

.loading_box div:nth-child(4) {
    top: 53.3333333%;
    left: 53.3333333%;
    background: #fff;
    animation-delay: 0.5s;
}

.loading_container {
    display: inline-block;
    overflow: hidden;
    background: #000000;
}

.loading_container_small {
    width: 75px;
    height: 75px;
}

.loading_container_large {
    width: 150px;
    height: 150px;
}

.loading_box {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.loading_box div {
    box-sizing: content-box;
}